:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-accent-1: #0080ff;
  --color-accent-2: #ff4040;
  --color-text: var(--color-black);
  --color-background: var(--color-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--color-white);
    --color-background: var(--color-black);
  }

  img {
    filter: invert(1);
  }
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('../fonts/BarlowCondensed-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Scope One';
  src: url('../fonts/ScopeOne-Regular.ttf') format('truetype');
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: 'Helvetica Neue', sans-serif;
  padding-inline: 1ch;
}

h1, h2, h3, h4, h5 {
  font-family: 'Barlow Condensed', sans-serif;
  margin: 0;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.3em; }

code, textarea, output {
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
}

blockquote {
  font-family: 'Scope One', serif;
  margin: 0;
  padding-left: 2ch;
  border-left: 2px solid var(--color-accent-1);
}

textarea {
  width: 100%;
  color: var(--color-text);
  background-color: var(--color-background);
  resize: vertical;
  outline: none;
  border: none;
  padding-left: 2ch;
  border-left: 2px solid var(--color-accent-1);
  box-sizing: border-box;
}

output {
  white-space: pre;
  font-style: italic;
}

output.block {
  display: block;
  padding-left: 2ch;
  border-left: 2px solid var(--color-accent-2);
}

pre, textarea, table, math {
  max-width: calc(100vw - 2ch);
  overflow-x: auto;
}

figure {
  max-width: calc(100vw - 2ch);
  margin: auto;
  text-align: center;
}

img {
  max-width: 100%;
}

mtext { white-space: pre; }

a {
  color: var(--color-text);
  text-decoration-color: var(--color-accent-1);
}
a:hover {
  text-decoration-color: var(--color-accent-2);
}

table {
  border-spacing: 1ch;
}

menu {
  list-style: none;
}